body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #fff;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 52px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square-white {
  background: #fff;
}

.square-gray {
  background: #ccc;
}

.square-selected {
  border: 4px solid #F55;
}

.square-legal {
  border: 3px solid #F85;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 100px;
  margin-top: 20px;
}

.game-board {
  margin-left: 200px;
  margin-top: 20px;
}